@model MovieDatabase.Web.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Detail";
}

@{string disabled;
    if (User.Claims.Count() != 0 && (User.FindFirst(ClaimTypes.Role).Value == "Administrator" || User.FindFirst(ClaimTypes.Role).Value == "ContentManager"))
    {
        disabled = "";
    }
    else
    {
        disabled = "disabled";
    }
}

<form asp-controller="Movie" asp-action="UpdateMovie" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 our-light-green">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img class="bg-placeholder-img rounded-left" width="100%" height="250" src="@Model.DetailMovieModel.TitleImageUrl" alt="@Model.DetailMovieModel.OriginalName" />
                    </div>
                    <div class="col-md">
                        <div class="card-body">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <div class="form-group">
                                <input @disabled type="text" class="form-control form-control-lg pl-2" name="MovieRequest.OriginalName" value="@Model.DetailMovieModel.OriginalName" />
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Country</label>
                                        <input @disabled type="text" class="form-control form-control-sm" name="MovieRequest.Country" value="@Model.DetailMovieModel.Country" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Release year</label>
                                        <input @disabled type="number" class="form-control form-control-sm" name="MovieRequest.CreatedYear" value="@Model.DetailMovieModel.CreatedYear" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Length</label>
                                        <input @disabled type="time" class="form-control form-control-sm" name="MovieRequest.Length" value="@TimeSpan.FromMinutes(Model.DetailMovieModel.Length)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="mb-0">Image URL</label>
                                        <input @disabled type="url" class="form-control form-control-sm" name="MovieRequest.TitleImageUrl" value="@Model.DetailMovieModel.TitleImageUrl" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="d-block mb-0">Žánry</label>
                                @if (string.IsNullOrEmpty(disabled))
                                {
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            @if (Model.DetailMovieModel.Genres.Any(o => o.Id == genre.Id))
                                            {
                                                <input checked type="checkbox" class="custom-control-input" name="MovieRequest.GenreIds" value="@genre.Id" id="Genre-@genre.Id" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input" name="MovieRequest.GenreIds" value="@genre.Id" id="Genre-@genre.Id" />
                                            }

                                            <label class="custom-control-label" for="Genre-@genre.Id">@genre.Name</label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @foreach (var genre in Model.DetailMovieModel.Genres)
                                    {
                                        <span class="badge badge-primary our-dark-blue">@genre.Name</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

        TODO Tady někde bychom dali edit na herce a režiséry

        @if (string.IsNullOrEmpty(disabled))
        {
            <div class="row">
                <div class="col-md-12">
                    <div class="d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Save changes" />
                    </div>
                </div>
            </div>
        }
</form>

<form style="margin-top: 500px" asp-controller="Movie" asp-action="UpdateMovie" method="post" role="form">
    <input @disabled class="Page-Title Detail-input" type="text" name="MovieRequest.OriginalName" value="@Model.DetailMovieModel.OriginalName" placeholder="Original name" />
    <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />


    <div class="Detail-info">
        <div class="Detail-info-photo">
            <img class="Detail-info-photo-img " src="@Model.DetailMovieModel.TitleImageUrl" />
        </div>
        <div class="Detail-info-basic">
            @if (disabled == "")
            {
                <div class="Detail-info-row">
                    <text class="Detail-info-row-caption">Image URL:</text>
                    <input @disabled class="Detail-input" type="url" name="MovieRequest.TitleImageUrl" value="@Model.DetailMovieModel.TitleImageUrl" placeholder="URL of image" />
                </div>
            }
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Country:</text>
                <input @disabled class="Detail-input" type="text" maxlength="5" name="MovieRequest.Country" value="@Model.DetailMovieModel.Country" placeholder="Country" />
            </div>
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Created year:</text>
                <input @disabled class="Detail-input" type="number" name="MovieRequest.CreatedYear" value="@Model.DetailMovieModel.CreatedYear" placeholder="Year created" />
            </div>
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Length of movie:</text>
                <input @disabled class="Detail-input" type="number" name="MovieRequest.Length" value="@Model.DetailMovieModel.Length" placeholder="Length of movie" />
            </div>
            @if (disabled == "")
            {
                <input type="submit" class="btn btn-primary" value="Submit" />
            }
        </div>
    </div>
</form>
<p>
    @foreach (var actor in Model.DetailMovieModel.Actors)
    {
        <text>@actor</text>
    }
</p>
<p>
    @foreach (var director in Model.DetailMovieModel.Directors)
    {
        <text>@director</text>
    }
</p>
<p>
    @foreach (var Genres in Model.DetailMovieModel.Genres)
    {
        <text>@Genres</text>
    }
</p>
<p>
    @foreach (var rating in Model.ListRatingModel.Data)
    {
        <text>@rating.Author wrote:\n</text>
        <text>@rating.Text</text>
        <text>@rating.Score</text>
    }
</p>
<div class="page-switcher">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            @{int temp = @Model.ListRatingModel.Page - 1;
                if (Model.ListRatingModel.CanPrev)
                {
                    <li class="page-item">
                        <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <input class="Login-input" type="hidden" name="page" value="@temp" />
                            <button type="submit" class="page-link" href="#">Previous</button>
                        </form>
                    </li>



                    <li class="page-item">
                        <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <input class="Login-input" type="hidden" name="page" value="@temp" />
                            <button type="submit" class="page-link" href="#">@temp</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                }
            }
            <li class="page-item">
                <a class="page-link" href="#">@Model.ListRatingModel.Page</a>
            </li>
            @{temp = @Model.ListRatingModel.Page + 1;
                if (Model.ListRatingModel.CanNext)
                {
                    <li class="page-item">
                        <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <input class="Login-input" type="hidden" name="page" value="@temp" />
                            <button type="submit" class="page-link" href="#">@temp</button>
                        </form>
                    </li>
                    <li class="page-item">
                        <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <input class="Login-input" type="hidden" name="page" value="@temp" />
                            <button type="submit" class="page-link" href="#">Next</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                }
            }
        </ul>
    </nav>
