@model MovieDatabase.Web.ViewModels.MovieDetailViewModel

@{
    ViewData["Title"] = "Detail";

    bool canEdit = User.Claims.Count() != 0 && (User.FindFirst(ClaimTypes.Role).Value == "Administrator" || User.FindFirst(ClaimTypes.Role).Value == "ContentManager");
    string disabled = canEdit ? "" : "disabled";
}

<form asp-controller="Movie" asp-action="UpdateMovie" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 our-light-green">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img class="bg-placeholder-img rounded-left" style="border-bottom-left-radius: 0 !important" width="100%" height="250" src="@Model.DetailMovieModel.TitleImageUrl" alt="@Model.DetailMovieModel.OriginalName" />
                    </div>
                    <div class="col-md">
                        <div class="card-body">
                            <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                            <div class="form-group">
                                <input @disabled type="text" class="form-control form-control-lg pl-2" name="MovieRequest.OriginalName" value="@Model.DetailMovieModel.OriginalName" />
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Country</label>
                                        <input @disabled type="text" class="form-control form-control-sm" name="MovieRequest.Country" value="@Model.DetailMovieModel.Country" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Release year</label>
                                        <input @disabled type="number" class="form-control form-control-sm" name="MovieRequest.CreatedYear" value="@Model.DetailMovieModel.CreatedYear" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Length</label>
                                        <input @disabled type="time" class="form-control form-control-sm" name="MovieRequest.Length" value="@TimeSpan.FromMinutes(Model.DetailMovieModel.Length)" />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="mb-0">Image URL</label>
                                        <input @disabled type="url" class="form-control form-control-sm" name="MovieRequest.TitleImageUrl" value="@Model.DetailMovieModel.TitleImageUrl" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card-body">
                            <div class="form-group">
                                <label class="d-block mb-0">Genres</label>
                                @if (string.IsNullOrEmpty(disabled))
                                {
                                    @foreach (var genre in Model.Genres)
                                    {
                                        <div class="custom-control custom-checkbox custom-control-inline">
                                            @if (Model.DetailMovieModel.Genres.Any(o => o.Id == genre.Id))
                                            {
                                                <input checked type="checkbox" class="custom-control-input" name="MovieRequest.GenreIds" value="@genre.Id" id="Genre-@genre.Id" />
                                            }
                                            else
                                            {
                                                <input type="checkbox" class="custom-control-input" name="MovieRequest.GenreIds" value="@genre.Id" id="Genre-@genre.Id" />
                                            }

                                            <label class="custom-control-label" for="Genre-@genre.Id">@genre.Name</label>
                                        </div>
                                    }
                                }
                                else
                                {
                                    @foreach (var genre in Model.DetailMovieModel.Genres)
                                    {
                                        <span class="badge badge-primary our-dark-blue">@genre.Name</span>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row no-gutters">
                    <div class="col-md-12">
                        <div class="form-group mb-0">
                            <textarea class="form-control rounded-0 border-bottom-0 border-right-0 border-left-0" style="resize: none" @disabled name="MovieRequest.Description">@Model.DetailMovieModel.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    TODO Tady někde bychom dali edit na herce a režiséry

    @if (string.IsNullOrEmpty(disabled))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" value="Save changes" />
                </div>
            </div>
        </div>
    }
</form>

@if (Model.ListRatingModel.Data.Count > 0)
{
    <div class="card mt-3">
        <h5 class="card-header">
            <div class="d-flex justify-content-between">
                <div>Hodnocení</div>
                <div>
                    @if (Model.AvgRatingScore < 50)
                    {
                        <span class="badge badge-danger">@Model.AvgRatingScore %</span>
                    }
                    else if (Model.AvgRatingScore >= 50 && Model.AvgRatingScore < 80)
                    {
                        <span class="badge badge-warning">@Model.AvgRatingScore %</span>
                    }
                    else
                    {
                        <span class="badge badge-success">@Model.AvgRatingScore %</span>
                    }
                </div>
            </div>
        </h5>

        <div class="card-body">
            @foreach (var rating in Model.ListRatingModel.Data)
            {
                <div class="card bg-transparent mb-2">
                    <div class="card-header bg-transparent">
                        <div class="d-flex justify-content-between">
                            <div>@(rating.Author == null ? "Anonymous user" : rating.Author.Username)</div>
                            <div>
                                @if (rating.Score < 50)
                                {
                                    <span class="badge badge-danger">@rating.Score %</span>
                                }
                                else if (rating.Score >= 50 && rating.Score < 80)
                                {
                                    <span class="badge badge-warning">@rating.Score %</span>
                                }
                                else
                                {
                                    <span class="badge badge-success">@rating.Score %</span>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        @rating.Text
                    </div>
                </div>
            }

            <div class="page-switcher">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                                <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                                <input class="Login-input" type="hidden" name="page" value="@(Model.ListRatingModel.Page - 1)" />
                                <button @(Model.ListRatingModel.CanPrev ? "" : "disabled") type="submit" class="page-link" href="#">Previous</button>
                            </form>
                        </li>

                        <li class="page-item">
                            <span class="page-link">@Model.ListRatingModel.Page</span>
                        </li>

                        <li class="page-item">
                            <form asp-controller="Movie" asp-action="Detail" method="post" role="form">
                                <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />
                                <input class="Login-input" type="hidden" name="page" value="@(Model.ListRatingModel.Page + 1)" />
                                <button @(Model.ListRatingModel.CanNext ? "" : "disabled") type="submit" class="page-link" href="#">Next</button>
                            </form>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
}

<form style="margin-top: 500px" asp-controller="Movie" asp-action="UpdateMovie" method="post" role="form">
    <input @disabled class="Page-Title Detail-input" type="text" name="MovieRequest.OriginalName" value="@Model.DetailMovieModel.OriginalName" placeholder="Original name" />
    <input type="hidden" name="ID" value="@Model.DetailMovieModel.Id" />


    <div class="Detail-info">
        <div class="Detail-info-photo">
            <img class="Detail-info-photo-img " src="@Model.DetailMovieModel.TitleImageUrl" />
        </div>
        <div class="Detail-info-basic">
            @if (disabled == "")
            {
                <div class="Detail-info-row">
                    <text class="Detail-info-row-caption">Image URL:</text>
                    <input @disabled class="Detail-input" type="url" name="MovieRequest.TitleImageUrl" value="@Model.DetailMovieModel.TitleImageUrl" placeholder="URL of image" />
                </div>
            }
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Country:</text>
                <input @disabled class="Detail-input" type="text" maxlength="5" name="MovieRequest.Country" value="@Model.DetailMovieModel.Country" placeholder="Country" />
            </div>
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Created year:</text>
                <input @disabled class="Detail-input" type="number" name="MovieRequest.CreatedYear" value="@Model.DetailMovieModel.CreatedYear" placeholder="Year created" />
            </div>
            <div class="Detail-info-row">
                <text class="Detail-info-row-caption">Length of movie:</text>
                <input @disabled class="Detail-input" type="number" name="MovieRequest.Length" value="@Model.DetailMovieModel.Length" placeholder="Length of movie" />
            </div>
            @if (disabled == "")
            {
                <input type="submit" class="btn btn-primary" value="Submit" />
            }
        </div>
    </div>
</form>
<p>
    @foreach (var actor in Model.DetailMovieModel.Actors)
    {
        <text>@actor</text>
    }
</p>
<p>
    @foreach (var director in Model.DetailMovieModel.Directors)
    {
        <text>@director</text>
    }
</p>
<p>
    @foreach (var Genres in Model.DetailMovieModel.Genres)
    {
        <text>@Genres</text>
    }
</p>
