@model MovieDatabase.Web.ViewModels.PersonDetailViewModel
@{
    ViewData["Title"] = "Detail";
}

@{string disabled;
    if (User.Claims.Count() != 0 && (User.FindFirst(ClaimTypes.Role).Value == "Administrator" || User.FindFirst(ClaimTypes.Role).Value == "ContentManager"))
    {
        disabled = "";
    }
    else
    {
        disabled = "disabled";
    }
}


<form asp-controller="Person" asp-action="UpdatePerson" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card mb-3 our-light-green">
                <div class="row no-gutters">
                    <div class="col-md-2">
                        <img class="bg-placeholder-img rounded-left" width="100%" height="250" src="@Model.PersonDetailModel.ProfilePictureUrl" alt="@Model.PersonDetailModel.Name" />
                    </div>
                    <div class="col-md">
                        <div class="card-body">
                            <input type="hidden" name="ID" value="@Model.PersonDetailModel.Id" />
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input @disabled type="text" class="form-control form-control-lg " name="EditPerson.Name" value="@Model.PersonDetailModel.Name" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <input @disabled type="text" class="form-control form-control-lg " name="EditPerson.Surname" value="@Model.PersonDetailModel.Surname" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Age</label>
                                        <input disabled type="text" class="form-control form-control-sm" name="EditPerson.Age" value="@Model.PersonDetailModel.Age" />
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="mb-0">Date of birth</label>
                                        <input @disabled type="date" class="form-control form-control-sm" name="EditPerson.Birthday" value="@Model.PersonDetailModel.Birthdate.ToString("yyyy-MM-dd")" />
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label class="mb-0">Image URL</label>
                                        <input @disabled type="url" class="form-control form-control-sm" name="EditPerson.ProfilePictureUrl" value="@Model.PersonDetailModel.ProfilePictureUrl" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @if (string.IsNullOrEmpty(disabled))
    {
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-end">
                    <input type="submit" class="btn btn-primary" value="Save changes" />
                </div>
            </div>
        </div>
    }
</form>

