
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Super Cool Movie Database</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


</head>
<body>
    <header>
        <nav class="top-navbar navbar navbar-expand-sm navbar-toggleable-sm navbar-light box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Home" asp-action="Index">Super Cool Movie Database</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-Item">
                            <form asp-controller="Movie" asp-action="List" method="post" role="form">
                                <input class="Login-input" type="hidden" name="page" value="1" />
                                <input type="submit" class="nav-Link" value="Movies" />
                            </form>
                        </li>
                        <li class="nav-Item">
                            <form asp-controller="Person" asp-action="List" method="post" role="form">
                                <input class="Login-input" type="hidden" name="page" value="1" />
                                <input type="submit" class="nav-Link" value="Persons" />
                            </form>
                        </li>
                        @{
                            if (User.Claims.Count() != 0 && User.FindFirst(ClaimTypes.Role).Value == "Administrator")
                            {
                                <form asp-controller="User" asp-action="List" method="post" role="form">
                                    <input class="Login-input" type="hidden" name="page" value="1" />
                                    <input type="submit" class="nav-Link" value="User List" />
                                </form>
                                @*<li class="nav-Item">
                    <a class="nav-Link" asp-area="" asp-controller="User" asp-action="List">User List</a>
                </li>*@
                            }
                        }
                    </ul>
                </div>
                <div class="User-button">
                    @{
                        if (User.Claims.Count() == 0)
                        {
                            <text>User</text>
                            <div class="User-button-dropdown">
                                <form asp-controller="User" asp-action="Login" method="post" role="form">
                                    <input class="Login-input" type="text" name="Username" placeholder="Username" />
                                    <input class="Login-input" type="password" name="Password" placeholder="Password" />
                                    <input type="submit" class="btn btn-primary" value="Login" />
                                </form>
                                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="New">Register</a>
                            </div>
                        }
                        else
                        {
                            <text> @User.FindFirst(ClaimTypes.Name).Value</text>
                            <div class="User-button-dropdown">
                                <text> @User.FindFirst(ClaimTypes.Role).Value</text>
                                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Detail">Account detail</a>
                                <a class="btn btn-primary" asp-area="" asp-controller="User" asp-action="Logout">Logout</a>
                            </div>
                            
                        }
                    }


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2020 - MovieDatabase.Web - <a class="dark-blue-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
